.crypto-card {
  max-width: 32rem;
  border-radius: 20px !important;
  border-color: $bg-color-primary-faded !important;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.4rem;

    h6 {
      font-size: 16px;
      font-weight: 700;
      color: $bg-color-primary;

      @media (min-width: 900px) {
        font-size: 18px;
      }
    }

    .card-header-img {
      max-width: 30px;
    }
  }

  .card-body {
    margin-top: 1.5rem;

    p {
      padding-bottom: 1.2rem;
      color: $text-color-tertiary;
      font-weight: 500;
      font-size: 14px;

      @media (min-width: 900px) {
        font-size: 16px;
      }

      span {
        color: $bg-color-primary;
        font-weight: 700;
        padding-left: 5px;
      }
    }
  }
}

.coin-list-search {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

a {
  .crypto-card {
    transition: all 0.5s ease-in-out;

    h6,
    p,
    p span {
      transition: all 0.5s ease-in-out;
    }
  }
}

a:hover {
  .crypto-card {
    background-color: $bg-color-primary;
    transition: all 0.5s ease-in-out;

    h6,
    p,
    p span {
      color: $text-color-secondary;
      transition: all 0.5s ease-in-out;
    }
  }
}
