.cryptoNews-card {
  max-width: 32rem;
  height: 100%;
  border-radius: 25px !important;
  border-color: $bg-color-primary-faded !important;
  transition: all 0.5s ease-in-out;

  &:hover {
    border-color: $bg-color-primary !important;
    transition: all 0.5s ease-in-out;
  }

  .card-header {
    padding-bottom: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-header-img {
      width: 100%;
      max-width: 100%;
      display: flex;
      object-fit: cover;
      min-height: 200px;
      max-height: 200px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

      @media (min-width: 1400px) {
        min-height: 250px;
        max-height: 250px;
      }
    }
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 14px;
  }

  .card-body {
    .card-title {
      font-weight: 700;
      margin-bottom: 0.6rem;
    }

    p {
      padding-bottom: 1rem;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.news-select-box {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.news-select-box #demo-simple-select {
  color: #7d8492 !important;
  font-weight: 700 !important;
  font-family: "Lato", sans-serif !important;
  font-size: 16px;
  padding: 15px;
}

.cryptoNews-card.loader:hover {
  border-color: $bg-color-primary-faded !important;
}
