// Tailwind Style
@tailwind base;
@tailwind components;
@tailwind utilities;

// SASS Files
@import "./Variables.module.scss";
@import "./CryptoLists.scss";
@import "./NewsLists.scss";
@import "./CryptoDetails";

// Custom Style
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #f5f7ff !important;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.nav-link li {
  span,
  svg {
    color: $text-color-tertiary;
  }
}

.nav-link-active li {
  background-color: $bg-color-primary !important;

  span,
  svg {
    color: $text-color-secondary !important;
  }
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: $text-color-secondary !important;
}

.title {
  font-family: "Roboto", sans-serif !important;
}

.top-10 {
  margin-top: 4rem;

  @media (min-width: 900px) {
    margin-top: 8rem;
  }
}

.chart-select-box {
  #demo-simple-select {
    color: $text-color-tertiary !important;
    font-weight: 700 !important;
    font-family: "Lato", sans-serif !important;
    font-size: 16px;
    padding: 15px;
  }

  .MuiSvgIcon-root {
    fill: $text-color-tertiary !important;
  }
}
